<!DOCTYPE html>
<html ng-app="angularjs-starter">
  
  <head lang="en">
    <meta charset="utf-8">
    <title>Custom Plunker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc.5/docs.css'>
    <link rel="stylesheet" href="css/style.css">
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js'></script>
    <link rel="stylesheet" href="style.css">
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <script src="app.js"></script>
  </head>
  
  <body ng-controller="MainCtrl">
        <form name="myForm" ng-submit="submitForm()">
           <label><input type="radio" ng-model="frontValue" value="1a" /> 납작형</label>
           <label><input type="radio" ng-model="frontValue" value="1b" /> 원추형</label>
           <label><input type="radio" ng-model="frontValue" value="1c" /> 반구형</label>
           <label><input type="radio" ng-model="frontValue" value="1d" /> 하수형</label>
           <br>
           <label><input type="radio" ng-model="sideValue" value="2a" /> 둥근형</label>
           <label><input type="radio" ng-model="sideValue" value="2b" /> 퍼진형</label>
           <label><input type="radio" ng-model="sideValue" value="2c" /> 짝가슴</label>
           <br>
           <label><input type="radio" ng-model="padValue" value="3a"/> 없음</label>
           <label><input type="radio" ng-model="padValue" value="3b"/> 얇은 패드</label>
           <label><input type="radio" ng-model="padValue" value="3c"/> 컵 아래부분의 반정도 볼륨이 있는 중간 패드</label>   
           <label><input type="radio" ng-model="padValue" value="3d"/> 컵 전체를 거의다 볼륨으로 채우는 두꺼운 패드</label>        
           <br>
           <div><p>결과보기: </p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2a' && padValue=='3a'"><p>사라스핏 1001 제품</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2a' && padValue=='3b'"><p>사라스핏 1001 제품</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2a' && padValue=='3c'"><p>사라스핏 1002 제품</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2a' && padValue=='3d'"><p>사라스핏 1003 제품</p></div>

           <div ng-show="frontValue=='1a' && sideValue=='2b' && padValue=='3a'"><p>사라스핏 1001 제품</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2b' && padValue=='3b'"><p>사라스핏 1001 제품</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2b' && padValue=='3c'"><p>사라스핏 1002 제품</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2b' && padValue=='3d'"><p>사라스핏 1003 제품</p></div>

           <div ng-show="frontValue=='1a' && sideValue=='2c' && padValue=='3a'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2c' && padValue=='3b'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2c' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1a' && sideValue=='2c' && padValue=='3d'"><p>Coming Soon</p></div>


           <div ng-show="frontValue=='1b' && sideValue=='2a' && padValue=='3a'"><p>사라스핏 1004 제품</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2a' && padValue=='3b'"><p>사라스핏 1004 제품</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2a' && padValue=='3c'"><p>사라스핏 1005 제품</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2a' && padValue=='3d'"><p>사라스핏 1006 제품</p></div>

           <div ng-show="frontValue=='1b' && sideValue=='2b' && padValue=='3a'"><p>사라스핏 1007 제품</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2b' && padValue=='3b'"><p>사라스핏 1007 제품</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2b' && padValue=='3c'"><p>사라스핏 1008 제품</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2b' && padValue=='3d'"><p>사라스핏 1008 제품</p></div>

           <div ng-show="frontValue=='1b' && sideValue=='2c' && padValue=='3a'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2c' && padValue=='3b'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2c' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1b' && sideValue=='2c' && padValue=='3d'"><p>Coming Soon</p></div>


           <div ng-show="frontValue=='1c' && sideValue=='2a' && padValue=='3a'"><p>사라스핏 1009 제품</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2a' && padValue=='3b'"><p>사라스핏 1009 제품</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2a' && padValue=='3c'"><p>사라스핏 1010 제품</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2a' && padValue=='3d'"><p>Coming Soon</p></div>

           <div ng-show="frontValue=='1c' && sideValue=='2b' && padValue=='3a'"><p>사라스핏 1009 제품</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2b' && padValue=='3b'"><p>사라스핏 1009 제품</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2b' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2b' && padValue=='3d'"><p>Coming Soon</p></div>

           <div ng-show="frontValue=='1c' && sideValue=='2c' && padValue=='3a'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2c' && padValue=='3b'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2c' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1c' && sideValue=='2c' && padValue=='3d'"><p>Coming Soon</p></div>


           <div ng-show="frontValue=='1d' && sideValue=='2a' && padValue=='3a'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2a' && padValue=='3b'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2a' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2a' && padValue=='3d'"><p>Coming Soon</p></div>

           <div ng-show="frontValue=='1d' && sideValue=='2b' && padValue=='3a'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2b' && padValue=='3b'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2b' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2b' && padValue=='3d'"><p>Coming Soon</p></div>

           <div ng-show="frontValue=='1d' && sideValue=='2c' && padValue=='3a'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2c' && padValue=='3b'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2c' && padValue=='3c'"><p>Coming Soon</p></div>
           <div ng-show="frontValue=='1d' && sideValue=='2c' && padValue=='3d'"><p>Coming Soon</p></div>
        </form>

</html>