<!DOCTYPE html>
<html lang="en" ng-app="mainModule">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="naver-site-verification" content="1efa5897a3c03594954d93ad1b2f0addfdeea167"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc.5/docs.css'>
    <link rel="stylesheet" href="css/style.css">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js'></script>
    <script src="app.js"></script>
    <script src="js/index.js"></script>

    <link rel="stylesheet" href="style.css">
    <title>Sara's Fit</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="MyCtrl">
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                     <hr class="small">
                    <p>나의 가슴 유형은? (정면1개, 측면1개, 패드1개를 선택해 주세요.)
                    <br>
        <form name="myForm" ng-submit="submitForm()">

           <h4><strong>4.사이즈 & 브랜드</strong></h4>
                    <hr class="small">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="service-item">
                            밴드사이즈: 
                              <select ng-model="bandValue" name="bandValue">
                                <option value=65>65</option>
                                <option value=70>70</option>
                                <option value=75>75</option>
                                <option value=80>80</option>
                                <option value=85>85</option>
                                <option value=90>90</option>
                                <option value=95>95</option>
                                <option value=100>100</option>
                              </select>
                            컵사이즈: 
                              <select ng-model="cupValue">
                                <option value=1>AA</option>
                                <option value=2>A</option>
                                <option value=3>B</option>
                                <option value=4>C</option>
                                <option value=5>D</option>
                                <option value=6>E</option>
                                <option value=7>F</option>
                              </select>
                            </div>
                        </div>
                    </div>
           <br>
           <h4><strong>5.공간이 남는지?</strong></h4>
                     <hr class="small">
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>                    
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="gsw">
                                <img src="img/dgh.png" height="200px" /><br>가슴위
                                <input id="gsw" type="radio" ng-model="spaceValue" value="5a" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="gsj">
                                <img src="img/pjh.png" height="200px" /><br>가슴전체
                                <input id="gsj" type="radio" ng-model="spaceValue" value="5b" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-xs-0 col-md-3">
                        </div>                                     
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="gsy">
                                <img src="img/jgs.png" height="200px" /><br>가슴옆
                                <input id="gsy" type="radio" ng-model="spaceValue" value="5c" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                            </div>
                        </div>                        
                        <div class="col-xs-0 col-md-3">
                        </div>                          
                    </div>
           <br>          

           <h4><strong>6. 체중변화</strong></h4>
                    <hr class="small">
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>   
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="up">
                                <img src="img/none.png" height="100px" /><br>살이 쪘다
                                <input id="up" type="radio" ng-model="weightValue" value="6a" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="down">
                                <img src="img/thin.png" height="100px" /><br>살이 빠졌다
                                <input id="down" type="radio" ng-model="weightValue" value="6b" />
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>   
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="same">
                                <img src="img/mid.png" height="100px" /><br>살이 그대로다
                                <input id="same" type="radio" ng-model="weightValue" value="6c" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
           <br>

           <h4><strong>7. 사용기간</strong></h4>
                    <hr class="small">
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>   
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="long">
                                <img src="img/none.png" height="100px" /><br>상
                                <input id="long" type="radio" ng-model="timeValue" value="7a" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="mid">
                                <img src="img/thin.png" height="100px" /><br>중
                                <input id="mid" type="radio" ng-model="timeValue" value="7b" />
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>   
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="short">
                                <img src="img/mid.png" height="100px" /><br>하
                                <input id="short" type="radio" ng-model="timeValue" value="7c" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
           <br>

           <h4><strong>8. 훅앤아이</strong></h4>
                    <hr class="small">
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>   
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="first">
                                <img src="img/none.png" height="100px" /><br>맨안쪽ㄱ
                                <input id="first" type="radio" ng-model="hookValue" value="8a" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="second">
                                <img src="img/thin.png" height="100px" /><br>중간
                                <input id="second" type="radio" ng-model="hookValue" value="8b" />
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-0 col-md-3">
                        </div>   
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                                <label for="third">
                                <img src="img/mid.png" height="100px" /><br>바깥쪽
                                <input id="third" type="radio" ng-model="hookValue" value="8c" />
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="service-item">
                            </div>
                        </div>
                        <div class="col-xs-0 col-md-3">
                        </div>
                    </div>
           <br>

           <h3><strong>사이즈 추천: </strong></h3>
          <h3><strong>{{bandValue}}</strong></h3>
          <h3><strong>{{cupValue}}</strong></h3>
          <h3><strong>{{bandValue1}}</strong></h3>
          <h3><strong>{{sizeCalc}}</strong></h3>
          <button ng-click="sizeCalc();">bandValue</button>

           <div ng-show="bandValue==75 && cupValue==2 && spaceValue=='5a' && weightValue=='6c' && timeValue=='7a' && hookValue=='8a'"><h3><strong>70B</strong></h3></div>
           <div ng-show="bandValue==75 && cupValue==2 && spaceValue=='5a' && weightValue=='6c' && timeValue=='7a' && hookValue=='8b'"><h3><strong>70B or 75AA</strong></h3></div>
           <div ng-show="bandValue==75 && cupValue==2 && spaceValue=='5a' && weightValue=='6c' && timeValue=='7a' && hookValue=='8c'"><h3><strong>75AA</strong></h3></div>
        </form>
                    <br>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>